<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:API_KEY} .
    RewriteCond %{HTTP:Authorization} .
    RewriteCond %{HTTP:USER_ID} .
    RewriteCond %{HTTP:API_TOKEN} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
    RewriteRule .* - [E=HTTP_API_KEY:%{HTTP:API_KEY}]
    RewriteRule .* - [E=HTTP_USER_ID:%{HTTP:USER_ID}]
    RewriteRule .* - [E=HTTP_API_TOKEN:%{HTTP:API_TOKEN}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

</IfModule>
